# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Database dumps
# *.sql  //BEST PRACTICE TO NOT PUSH THIS ON GITHUB

# Logs
*.log

# Environment files
.env

# Cache/temp
*.cache
*.tmp

# Database
/config/database.php

# Uploaded files
/public/uploads/

/.agents

/SKILL.md